.pais {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}

.pais strong {
    margin-bottom: 16px;
    color: #41414d;
}

.pais p+strong {
    margin-top: 32px;
}

.pais p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.pais div {
    margin-bottom: 20px;
}

hr {
    margin: 10px 0;
}

.hr1 {
    border: 0;
    border-top: 1px solid #CCC;
}